<h2>Hello {{ sharedWith.sharedTo.firstName }}, {{ sharedWith.sharedFrom.firstName }} vous a partagé une liste de type "{{ sharedWith.listShared.listType.libelle }}" !</h2>

<div>

    <ul>
         {%  for content in sharedWith.listShared.content %}
             <li>{{ content }}</li><br>
        {% endfor %}
    </ul>
</div>
<footer>
    <p>L'équipe AppList.</p>
</footer>

<style>

</style>